body {
 background-color: #D3D3D3;
 color: #7D0202;
}

header {
 background-color: #DAA520;
 padding: 6px 6px 6px 6px;
}

p {
 color: #C70303;
 text-align: left;
}

section {
 background-color: #DAA520;
}

h1 {
 background-color: #DAA520;
 padding: 4px 4px 4px 4px;
 text-align: center;
 border: 1px solid black;
}

h2 {
 background-color: #DAA520;
 padding: 5px 5px 5px 5px;
 border: 1px solid black;
}

footer {
 position: absolute;
 right: 0;
 bottom: 0;
 left: 0;
}
